/.venv/
build/
.vscode/
*.uf2
*.elf
*.bin
*.hex
*.dis
*.o
*.map
*.a
compile_commands.json
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
pip-wheel-metadata/
.env
.DS_Store
Thumbs.db
*.log
.idea/

!.vscode/extensions.json
